*,html{
    margin: 0;            
    padding: 0;

    }
    



    .papiro_zero{
        background-color: #8f0b0b;
        width: 100vw;
        height: 45vh;
        display: flex;
        column-gap: 7.3vw;
        
    }

    .luau{
        width: 100vw;
        height: 45vh;
        background-color: white;
        display: flex;
        column-gap: 7.3vw;
    }

    .ime_jam{
        width: 100vw;
        height: 48vh;
        background-color: #8f0b0b;
        display: flex;
        column-gap: 7.3vw;
    }

    .imagem_do_papiro{
        width: 70vw;
        height: 45vh;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 300px;
        padding-left: 4vw;
    }


    .imagem_do_luau{
       width: 70vw;
        height: 45vh;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 300px;
        padding-left: 4vw;
    }

    .imagem_da_ime_jam{
        width: 70vw;
        height: 48vh;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 300px;
        padding-left: 4vw;
        
    }

    .texto_um{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 3.7vh;
        height: 45  vh;

    }

    .texto_dois{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 3.7vh;
        height: 45vh;
        
    }

    .titulo_um{
        color: white;
        font-family: Graduate;
        letter-spacing: 7px;
        font-size: max(20px, 3.6vw);
          
    }

    .latim_um{
        color: white;
        font-family: inter, bold; 
        width: 65%;
        font-size: max(10px, 1.37vw);
          
    }

    .titulo_dois{
        color: black;
        font-family: Graduate;
        letter-spacing: 7px;
        font-size: max(20px, 3.6vw)

    }

    .latim_dois{
        color: black;
        font-family: inter, bold;
        width: 65%;
        font-size: max(10px, 1.37vw);
    }