*, html {
    margin: 0;
    padding: 0;  
}

body {
        padding-top: 100px;
}

@media screen and (max-width: 500px) {
    body {
        padding-top: 250px;
    }
}

 @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
    

.grifo {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.symbol img{
    position: absolute;
    margin-top: -50vw;
    height: 35vw;
    z-index: 20;
}

.background img {
    display: block;
    vertical-align:bottom;
    line-height: 0%;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    opacity: 0.4;
    left: 0;
    z-index: -1;
    overflow-x: hidden;
}

.legenda {
    display: block;
    margin-top: -20%;
    top: 0px;
    font-family: 'Inter', sans-seriff;
    font-weight: 600;
    font-size: 3vw;
    line-height: 10rem;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.fundo {
    background-color: #8F0B0B;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 10vh;
    border-color: #8F0B0B;
    padding-bottom: 4vw;
}

.lojinha img {
    border: 5px solid #000000;
    background-color: #FFFFFF;
}

.eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lojinha{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.parcerias{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fundo img {
    width: 100%;
    margin-top: 2vh;
    border: 5px solid #000000;
}

.fundo h1 {
    margin-top: 8vh;
}

.fundo p{
    margin-top: 5vh;
    text-align: justify;
    text-justify: inter-word;
    font-size: 2rem;
    width: 50vh;
    margin-botton: -2vh;
}

@media only screen and (max-width: 700px) {
    .nav {
        width: 70%;
    }
    .nav a {
        font-size: 10px;
    }
    .icon svg{
        width:24px; 
        height:24px; 
        margin: -10px;
    }
    .background img {
        height: auto !important;
    }
 }
 @media only screen and (max-width: 920px) {
 .fundo {
    background-color: #8F0B0B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 4vw;
}
.fundo img {
    width: 50%;
    margin-top: 2vh;
    border: 5px solid #000000;
}
}


.lojinha img:hover {
    content: url("../images/camisa.png");
}

.eventos img:hover {
    content: url("../images/WhatsApp Image 2023-04-05 at 20.58.49.jpeg");
    width: 400px;
}

.parcerias img:hover {
    content: url("../images/Captura de tela de 2023-04-06 17-05-59.png");
}
